includes:
    - ../../vendor/glpi-project/phpstan-glpi/extension.neon

parameters:
    level: 6

    parallel:
        maximumNumberOfProcesses: 2

    paths:
        - ajax

    bootstrapFiles:
        - ../../vendor/autoload.php
        - ../../stubs/glpi_constants.php
        - setup.php
        - inc/alert.class.php

    scanDirectories:
        - ../../inc
        - ../../src

    treatPhpDocTypesAsCertain: false

    dynamicConstantNames:
        - PLUGIN_ALERTSMANAGER_VERSION
        - PLUGIN_ALERTSMANAGER_MIN_GLPI
        - PLUGIN_ALERTSMANAGER_MAX_GLPI